/* Contenedor principal */
.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

/* Título principal */
.dashboard-title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3b83f6de;
}
/*mensaje que se activa al no haber tareas*/
.msj-task-empty{
    text-align: center;
    color: red;
}
/* Contenedor de tareas pendientes */
.pending-tasks {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 3rem;
    border: 2px solid #3b83f64f;
    border-radius: 20px;
    padding: 20px;
}

/* Título de la sección de tareas */
.pending-tasks h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Tabla de tareas */
.table-responsive {
    overflow-x: auto;
}

/* Encabezados de la tabla */
table {
    width: 100%;
    /* border-collapse: collapse; */
}

/* Cabecera de la tabla */
table thead {
    background-color: rgb(245, 244, 244);
    height: 40px;
}

/* Estilos de las celdas */
th {
    color: #5897fd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

tbody tr {
    height: 90px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: aliceblue;
}

tbody tr:nth-child(odd) {
    background-color: #d5eaf1;
}
.action{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 90px;
    justify-content: center;
    align-items: center;

}
.action button{
    text-decoration: none;
   border: none;
   background-color: transparent;
   text-decoration:solid;

}

.content {
    max-width: 200px;
    overflow: hidden;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
    .dashboard-container {
        padding: 0 5%;
    }

    .dashboard-title {
        font-size: 2rem;
    }

    .pending-tasks {
        font-size: 1rem;
        padding: 15px;
    }

    table {
        font-size: 0.9rem;
    }
}

/*Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .dashboard-title {
        font-size: 1.8rem;
    }

    .dashboard-container {
        padding: 0 2%;
    }

    .pending-tasks {
        font-size: 1rem;
        border: none;
        padding: 10px;
    }

    table {
        font-size: 0.8rem;
    }

    th, td {
        padding: 5px;
    }

    .item {
        max-width: 100px;
    }

    tbody tr {
        font-size: 13px;
    }
}
