/* Contenedor del botón flotante */
.container-add-task {
  position: fixed;
  bottom: 10vh;
  right: 7vw;
  z-index: 2;
}
/* Estilo del botón flotante */
.item-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #172a3a;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.item-add:hover {
  background-color: #1d3549;
  transform: scale(1.1);
  box-shadow: 1px 1px 10px #78a6cc;
}
.item-add a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.item-add img {
  width: 100%;
  height: 60px;
}
.total {
  margin-top: 20px;
}
/*modal para agregar tarea, mostrar y editar*/
/* From Uiverse.io by Yaya12085 */
.modal-create-task,
.modal-show,
.modal-edit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(10px);
  width: 101vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
  font-family: quicksand;
}
/*clases que permiten visualizar los modales*/
.modal-create-task.active,
.modal-show-active,
.modal-edit-active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) translateY(0);
}
/*estilos de modal agregar tarea*/
.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  min-height: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}
.title-form {
  color: var(--color-primary);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}
.form .title,
.content {
  font-size: 15px;
}
.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}
.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}
.options-modal {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
#status-option {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
}
.options-modal .btn-close-modal {
  background-color: var(--color-orange);
}
#status-option:focus {
  border-color: royalblue;
}
#status-option:hover {
  border-color: #888;
}

/* Estilo para la opción deshabilitada */
#status-option option:disabled {
  color: #888;
}
/*estilos de modal mostrar tarea*/
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  min-width: 300px;
  max-width: 1500px;
  min-height: 40%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 40px;
  text-align: justify;
}
.modal-content p {
  font-size: 1.2rem;
}
#modal-title {
  font-size: 2rem;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
}
.close {
  max-width: 110px;
  align-items: center;
}
.hidden {
  display: none;
}
/*estilos modal edit*/
.modal-edit .form #update-status {
  /*opciones de completa y pendiente en modal edit*/
  width: 100%;
  height: 30px;
  border-radius: 3px;
}
.modal-edit .form #update-title,
#update-content,
#update-status {
  font-size: 1rem;
  font-family: quicksand;
}
/* Resaltar la tarea seleccionada */
.task-select {
  font-weight: bold;
  font-style: oblique;
}

.card {
  max-width: 200px;
}
.grafic {
  height: 200px;
}
