
.container{
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(230, 247, 247); */
    background-color: #172a3a;
    font-size: 15px;
    align-items: center;
    height: 90px;
    position: relative;
    z-index: 1000000;
}

.container .logo a {
    text-decoration: none;
    /* color: #3b82f6; */
    color: #74b3ce;
    font-size: 20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.nav-links a{
    text-decoration: none;
    /* color: black; */
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 23px;
}
.nav-links a:hover{
    position: relative;
    border-bottom: 2px solid #3b82f6;
}
.logout-btn{
    display: flex;
    border: none;
    background: none;
    padding: 0%;
}
.logout-btn img{
    height: 35px;
    transition: ease .3s;
}
.logout-btn img:hover{
    filter: drop-shadow(1px 1px 1px #3b82f6);
    cursor: pointer;
    transform: scale(1.1);
}
.hamburguer{
    display:none;
    flex-direction: column;
    cursor: pointer;
}
.bar{
    width: 25px;
    height: 3px;
    background-color: #ffff;
    margin: 4px 0;
    transition: 0.4s;
}

/*con el ancho maximo de 768px se ocultan los links y se muestra el menu amburguesa*/
@media (max-width: 768px){
    .container{
        display: flex;
        justify-content:space-between;
        padding: 0 20px;
    }
    .nav-links {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        position: absolute;
        top: 100%;
        right: 0;
        width: 30%;
        flex-direction: column;
        text-align: center;
        border-radius: 0 0 10px 10px;
        background-color: rgb(40, 42, 53);
        gap: 10px;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburguer {
        display: flex;
    }

    .nav-links.show {
        max-height: 300px; /* Ajusta según el contenido */
        opacity: 1;
    }

    /*codigo inicial sin animacion
.nav-links{
      display: none;
      position: absolute;
      top: 100%;
      right: 0%;
      width: 30%;
      flex-direction: column;
      text-align: center;;
      border-radius: 0 0 10px 10px;
      gap: 10px;
  }
  .nav-links li{
      margin: 15px 0;
  }
  .hamburguer{
      display: flex;
  }
  .nav-links.show{
      display: flex;
      background-color: rgb(194, 223, 226);
}

*/

}

