:root {
  --color-primary: #3cb198;
  --color-secondary: #e6edef;
  --color-orange: #e26355;
}
.color-primary {
  color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.color-orange {
  color: var(--color-orange);
}
.btn-primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn-primary:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn-orange {
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  color: white;
}
.btn-orange:hover {
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  color: white;
}

.active > .page-link {
  color: white;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.main-content {
  margin-left: 15rem;
  margin-top: 56px;
  padding: 2rem;
  background-color: #e6edef;
  min-height: 100vh;
}
h2 {
  color: var(--color-primary);
  margin-bottom: 20px;
}
/* Boton menu hamburguesa navbar */
#menu-toggle {
  display: none;
}
@media (max-width: 768px) {
  #menu-toggle {
    display: flex;
  }
  .sidebar {
    left: -15rem;
    transition: left 0.3s;
  }

  .sidebar.active {
    left: 0;
  }

  .main-content {
    margin-left: 0;
  }
}
body {
  overflow-x: hidden;
}
