*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    font-size: 62.5%;
}
main{
    /* flex: 1; */
    min-height: 90vh;
    background-color: #F6FBFF;
}
.swal2-popup {
    font-family: 'Arial', sans-serif !important;
}
