.profile-img {
  object-fit: contain;
  max-height: 10rem;
}
.modal-change-password {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(10px);
  width: 101vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
  z-index: 11;
}
.modal-change-password-active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) translateY(0);
}
.form-update-password {
  background-color: white;
  padding: 2rem;
  min-width: 50rem;
}
